.postContainer {
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  position: relative;

  h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 16px;
  }

  .span {
    font-size: 12px;
    display: block;
  }
}
