.article {
  padding: 16px;
  background-color: #fafafa;

  .prologue {
    font-size: 12px;
    text-transform: uppercase;
  }

  .section {
    .title {
      font-size: 32px;
      margin: 0;
      line-height: 1.2;
    }

    .description {
      margin: 0;
      line-height: 1.4;
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }
}
